@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-color: #ff0000;
  --black-color: #070211;
  --white-color: #fff;
  --white-rgb: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none;
}

.red-text {
  color: var(--red-color);
}

.main-container {
  max-width: 1280px;
  margin: auto;
}

.celebration-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent),
    url(./resource/Banner-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
  font-family: "Merriweather";
}

.celebration-text-container {
  padding: 200px 0px;
  text-align: center;
  color: var(--white-color);
  margin: auto;
}

.celebration-text-container h4 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 16px;
}

.celebration-text-container h1 {
  font-weight: 900;
  font-size: 72px;
}

/*---------- category----------- */

.category-text {
  text-align: center;
  margin: 50px 0px;
  font-family: "Inter";
}

.category-text h1 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 72px;
  color: var(--red-color);
}

.category-text h6 {
  margin: 0px 0px 20px 0px;
  color: var(--red-color);
  font-size: 24px;
  font-weight: 500;
}

.category-text h2 {
  margin: 0px;
  font-size: 48px;
  font-weight: 700;
}

.category-img {
  text-align: center;
}

.category-img img {
  max-width: 100%;
  height: auto;
}

/*---------- midnight-container---------- */

.midnight-container {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent),
    url(./resource/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  border-radius: 10px;
}

.midnight-info-container {
  padding: 200px 0px;
  /* text-align: center; */
  color: var(--white-color);
  margin-left: 120px;
  width: 70%;
}

.midnight-info-container h1 {
  font-family: "Merriweather";
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.midnight-info-container h6 {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 24px;
}

.midnight-btn {
  color: var(--white-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: none;
  margin-top: 48px;
  margin-left: 30px;
}

.midnight-stat-container img {
  margin: 0px 70px;
}

/*---------- Place---------- */

.place-container {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  font-family: Inter;
  margin-top: 120px;
}

.place-container-info {
  padding: 100px 0px 50px 0px;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.place-join-btn-container {
  text-align: center;
  margin-bottom: 110px;
}

.place-join-btn-container button {
  padding: 10px 32px;
  color: var(--white-color);
  background: var(--red-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.place-date-time {
  color: var(--red-color);
}

/*---------- coming soon---------- */
.coming-soon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 220px;
  gap: 50px;
  font-family: "Inter";
}

.coming-soon-container div {
  flex: 1;
}

.coming-soon-container > div:nth-child(1) > h2 {
  margin-top: 15px;
}
.coming-soon-container > div:nth-child(1) > p {
  margin-top: 15px;
}

.coming-soon-container h3 {
  color: var(--red-color);
}

.coming-soon-container > div:nth-child(2) img {
  border: 15px solid var(--red-color);
  border-radius: 50%;
  padding: 20px;
}

.stat {
  color: var(--red-color);
  font-size: 48px;
  font-weight: 700;
}

.stat-para {
  margin-top: 20px;
}

.new-year-badge {
  margin-top: 30px;
}

/*---------- Discount---------- */

.discount-container {
  text-align: center;
  margin-top: 120px;
}

.discount-text-container h5 {
  color: var(--black-color);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.holidays-text-container {
  color: var(--red-color);
}

.discount-text-container h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 20px;
}

.discount-para{
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.discount-img-container{
  margin-top: 5px;
  /* border: 2px solid purple; */
}

.discount-img-container-top{
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  /* position: relative; */
}

/* .magic-box img{
  position: relative;
  z-index: 1;
  max-width: 100%;
  top: 47%;
  left: 10%;
  height: 90%;
 
} */

.magic-box img {
  position: relative;
  z-index: 1;
  max-width: none; 
  width: 120%; 
  height: auto; 
  top: 80%; 
  left: 70%; 
  transform: translate(-50%, -50%);
}


.discount-fifty{
  position: relative;
  left: 10%;
  /* bottom: 62%; */
  top: 180px;
  /*! % is not working here... */
  z-index: 1;
}

.discount-model img{
  position: relative;
  top: 22%;

}

.discount-img-container-down img{
  width: 100%;
  position: relative;
  /* position: absolute; */
}


/*---------- Portfolio---------- */